In [1]:
import pandas as pd

#censuslink url https://factfinder.census.gov/faces/tableservices/jsf/pages/productview.xhtml?src=bkmk
#state url https://www.factmonster.com/us/postal-information/state-abbreviations-and-state-postal-codes

In [2]:
url = 'https://www.numbeo.com/quality-of-life/region_rankings_current.jsp?region=021'

In [3]:
#scrape and read as pandas df
tables = pd.read_html(url)
tables

[    0                                                  1
 0 NaN  What are you looking for? Cost of Living Crime...,     0      1
 0 NaN  Tweet,     Rank                               City  Quality of Life Index  \
 0    NaN         Raleigh, NC, United States                 231.41
 1    NaN         Madison, WI, United States                 207.65
 2    NaN          Dallas, TX, United States                 201.17
 3    NaN       Charlotte, NC, United States                 199.48
 4    NaN          Austin, TX, United States                 198.47
 5    NaN        Columbus, OH, United States                 197.25
 6    NaN                     Ottawa, Canada                 196.03
 7    NaN        San Jose, CA, United States                 194.75
 8    NaN                   Victoria, Canada                 193.88
 9    NaN       San Diego, CA, United States                 191.72
 10   NaN        Richmond, VA, United States                 191.00
 11   NaN         Seattle, WA, United States                 189.63
 12   NaN        Portland, OR, United States                 188.22
 13   NaN     San Antonio, TX, United States                 188.19
 14   NaN                Quebec City, Canada                 187.92
 15   NaN    Jacksonville, FL, United States                 187.31
 16   NaN                    Calgary, Canada                 186.95
 17   NaN     Kansas City, MO, United States                 184.19
 18   NaN     Saint Louis, MO, United States                 182.10
 19   NaN      Sacramento, CA, United States                 182.04
 20   NaN          Boston, MA, United States                 181.72
 21   NaN      Cincinnati, OH, United States                 180.74
 22   NaN           Tampa, FL, United States                 180.70
 23   NaN       Nashville, TN, United States                 180.36
 24   NaN     Minneapolis, MN, United States                 179.88
 25   NaN         Spokane, WA, United States                 178.15
 26   NaN         Oakland, CA, United States                 177.31
 27   NaN   San Francisco, CA, United States                 177.30
 28   NaN                  Vancouver, Canada                 175.16
 29   NaN                Mississauga, Canada                 174.97
 ..   ...                                ...                    ...
 31   NaN                   Edmonton, Canada                 174.93
 32   NaN         Atlanta, GA, United States                 174.72
 33   NaN                    Kelowna, Canada                 174.63
 34   NaN     Albuquerque, NM, United States                 174.24
 35   NaN  Salt Lake City, UT, United States                 174.18
 36   NaN         Houston, TX, United States                 173.57
 37   NaN          Tucson, AZ, United States                 173.44
 38   NaN       Anchorage, AK, United States                 171.27
 39   NaN      Washington, DC, United States                 170.65
 40   NaN                    Halifax, Canada                 170.08
 41   NaN          Denver, CO, United States                 169.01
 42   NaN       Cleveland, OH, United States                 167.97
 43   NaN         Orlando, FL, United States                 167.96
 44   NaN                   Montreal, Canada                 167.81
 45   NaN       Baltimore, MD, United States                 167.05
 46   NaN        Honolulu, HI, United States                 165.80
 47   NaN                   Hamilton, Canada                 164.71
 48   NaN    Indianapolis, IN, United States                 164.66
 49   NaN       Las Vegas, NV, United States                 163.60
 50   NaN         Phoenix, AZ, United States                 159.29
 51   NaN         Chicago, IL, United States                 158.15
 52   NaN     Los Angeles, CA, United States                 157.97
 53   NaN       Milwaukee, WI, United States                 155.87
 54   NaN           Miami, FL, United States                 153.42
 55   NaN    Philadelphia, PA, United States                 151.11
 56   NaN                    Toronto, Canada                 149.79
 57   NaN                     Regina, Canada                 148.46
 58   NaN                   Winnipeg, Canada                 147.73
 59   NaN        New York, NY, United States                 141.03
 60   NaN         Detroit, MI, United States                 130.08

     Purchasing Power Index  Safety Index  Health Care Index  \
 0                   189.67         70.73              78.10
 1                   135.21         72.77              81.94
 2                   185.61         51.39              67.63
 3                   148.02         56.62              75.66
 4                   155.55         65.05              70.89
 5                   133.74         57.90              75.19
 6                   132.19         75.60              74.99
 7                   173.72         57.44              68.83
 8                    95.50         69.40              71.83
 9                   136.24         63.00              71.33
 10                  116.41         57.43              73.64
 11                  142.76         54.32              72.74
 12                  129.18         52.84              71.17
 13                  135.23         53.64              71.98
 14                  129.44         84.40              67.31
 15                  136.36         42.33              72.56
 16                  140.00         68.27              76.65
 17                  131.32         41.08              77.26
 18                  134.85         32.44              81.23
 19                  128.14         50.19              70.51
 20                  122.93         66.06              75.90
 21                  129.22         51.18              68.50
 22                  121.15         50.49              66.69
 23                  140.97         53.01              62.45
 24                  125.83         50.28              79.80
 25                  107.07         48.00              62.49
 26                  126.27         35.86              77.73
 27                  140.85         51.02              71.42
 28                   96.97         64.25              74.10
 29                  115.22         56.59              67.03
 ..                     ...           ...                ...
 31                  123.55         57.74              78.59
 32                  154.57         37.32              64.48
 33                  104.33         51.57              71.05
 34                  115.89         29.95              69.11
 35                  138.87         73.67              71.14
 36                  155.10         38.76              71.69
 37                  111.07         47.98              59.63
 38                  130.57         41.12              59.85
 39                  137.64         43.28              69.02
 40                   94.98         58.83              71.54
 41                  122.12         58.56              71.48
 42                  105.92         35.31              83.06
 43                  105.03         45.06              62.78
 44                  110.60         69.10              63.93
 45                  125.12         28.92              80.05
 46                  101.44         55.63              70.69
 47                  121.42         50.02              82.69
 48                  113.29         43.27              68.80
 49                  142.80         45.04              55.26
 50                  139.11         47.06              66.01
 51                  130.96         35.30              68.48
 52                  123.33         59.31              66.24
 53                   98.77         34.41              65.62
 54                   92.96         48.00              63.85
 55                  100.77         40.49              72.25
 56                   86.35         63.86              75.42
 57                  104.69         44.58              67.86
 58                  107.32         44.24              67.93
 59                  100.00         57.64              63.95
 60                   90.15         28.06              65.44

     Cost of Living Index  Property Price to Income Ratio  \
 0                  72.77                            2.03
 1                  65.44                            3.22
 2                  66.75                            1.98
 3                  77.14                            2.26
 4                  69.91                            3.77
 5                  68.70                            2.16
 6                  68.14                            4.54
 7                  80.85                            5.89
 8                  69.30                            7.64
 9                  73.18                            5.80
 10                 68.52                            3.17
 11                 85.25                            5.87
 12                 77.98                            4.47
 13                 65.71                            2.26
 14                 64.23                            3.57
 15                 69.04                            1.99
 16                 69.13                            4.77
 17                 69.01                            2.16
 18                 67.54                            2.44
 19                 77.44                            3.69
 20                 86.87                            7.92
 21                 64.97                            2.31
 22                 69.95                            3.09
 23                 68.82                            2.89
 24                 76.50                            3.10
 25                 73.64                            3.15
 26                 85.02                            6.25
 27                 89.67                            8.69
 28                 71.09                           14.36
 29                 66.50                            7.68
 ..                   ...                             ...
 31                 69.57                            3.83
 32                 71.59                            2.76
 33                 66.49                            5.40
 34                 66.73                            3.12
 35                 64.21                            3.77
 36                 64.65                            2.04
 37                 71.54                            2.63
 38                 92.69                            2.61
 39                 90.92                            4.28
 40                 68.83                            6.90
 41                 74.59                            4.81
 42                 72.71                            1.41
 43                 70.76                            3.13
 44                 64.61                            6.86
 45                 75.74                            2.52
 46                 90.80                            8.77
 47                 60.37                            6.25
 48                 68.33                            2.33
 49                 68.35                            2.50
 50                 66.80                            2.87
 51                 79.39                            3.60
 52                 77.66                            7.26
 53                 70.94                            3.19
 54                 78.11                            5.47
 55                 85.28                            3.61
 56                 81.31                           13.52
 57                 68.33                            4.80
 58                 60.79                            4.92
 59                100.00                           11.05
 60                 64.70                            1.67

     Traffic Commute Time Index  Pollution Index  Climate Index
 0                        33.87            19.17          83.88
 1                        23.73            16.77          51.64
 2                        35.30            40.20          81.85
 3                        38.27            25.82          84.05
 4                        34.54            35.93          82.08
 5                        26.16            25.39          71.29
 6                        32.73            17.61          44.46
 7                        35.75            46.48          95.53
 8                        27.50            15.41          92.52
 9                        35.42            36.51          97.08
 10                       20.10            31.14          81.27
 11                       42.71            27.82          91.73
 12                       33.24            28.96          89.56
 13                       28.08            38.25          80.58
 14                       28.61            37.02          47.98
 15                       34.46            30.85          87.81
 16                       32.35            25.52          33.09
 17                       25.65            34.39          75.08
 18                       27.53            33.77          74.75
 19                       25.97            42.46          90.64
 20                       43.59            24.53          71.73
 21                       24.52            40.93          73.24
 22                       36.55            29.32          84.67
 23                       37.56            39.96          83.02
 24                       35.53            23.23          49.46
 25                       24.16            20.17          67.12
 26                       32.04            35.38          96.40
 27                       45.90            37.38          97.26
 28                       36.39            24.18          91.15
 29                       34.06            21.66          58.72
 ..                         ...              ...            ...
 31                       30.38            29.28          32.11
 32                       43.24            44.89          89.73
 33                       30.91            20.53          59.65
 34                       25.77            21.62          67.06
 35                       34.88            61.80          66.52
 36                       41.45            53.70          85.53
 37                       30.38            27.12          72.66
 38                       30.95            17.96          41.61
 39                       41.45            40.14          81.62
 40                       30.00            25.24          58.99
 41                       34.73            40.25          56.28
 42                       34.48            35.59          73.11
 43                       36.88            33.18          87.23
 44                       39.56            31.35          52.37
 45                       32.12            45.61          81.24
 46                       40.97            36.47          95.33
 47                       35.81            48.15          61.06
 48                       30.83            42.82          69.92
 49                       27.54            51.27          57.40
 50                       32.19            57.85          53.76
 51                       40.86            44.02          66.11
 52                       47.36            60.96          95.50
 53                       30.67            32.68          60.96
 54                       43.07            40.59          85.69
 55                       40.38            48.01          77.98
 56                       43.49            37.85          65.35
 57                       17.27            41.01          14.28
 58                       32.10            38.50          24.67
 59                       43.26            55.88          79.66
 60                       47.35            54.56          66.03

 [61 rows x 11 columns]]

In [17]:
len(quality_df['Rank'])

61

In [16]:
# populate rank starting with 1
quality_df = tables[2]
quality_df['Rank'] = [x for x in range(1,len(quality_df)+1)]

In [18]:
#show clean rank
quality_df.head()

,Rank,City,Quality of Life Index,Purchasing Power Index,Safety Index,Health Care Index,Cost of Living Index,Property Price to Income Ratio,Traffic Commute Time Index,Pollution Index,Climate Index
0,1,"Raleigh, NC, United States",231.41,189.67,70.73,78.10,72.77,2.03,33.87,19.17,83.88
1,2,"Madison, WI, United States",207.65,135.21,72.77,81.94,65.44,3.22,23.73,16.77,51.64
2,3,"Dallas, TX, United States",201.17,185.61,51.39,67.63,66.75,1.98,35.30,40.20,81.85
3,4,"Charlotte, NC, United States",199.48,148.02,56.62,75.66,77.14,2.26,38.27,25.82,84.05
4,5,"Austin, TX, United States",198.47,155.55,65.05,70.89,69.91,3.77,34.54,35.93,82.08

In [14]:
#Scrape state acroynym table
stateurl='https://www.factmonster.com/us/postal-information/state-abbreviations-and-state-postal-codes'
#scrape and read as pandas df
scrapeState = pd.read_html(stateurl,header=0)

In [15]:
#convert to df object
state_df = scrapeState[0]
state_df.head()

            State Abbreviation Postalcode
0         Alabama         Ala.         AL
1          Alaska       Alaska         AK
2  American Samoa          NaN         AS
3         Arizona        Ariz.         AZ
4        Arkansas         Ark.         AR